
copy {
	@include fluid-type($min_width, 720px, $min_font, 18px);
	font-family: monospace;
	text-align: center;
	display: block !important;
	padding: 2rem;
	display: block;
	min-width: 320;
	margin: 0 auto;
	color: rgba(255,255,255,0.25);

	p:first-child {
		text-align: center;
		font-family: monospace;
		display: block !important;
		padding-top: 2rem;
		padding-bottom: 2rem;
		display: block;
		min-width: 320;
		max-width: 780px;
		margin: 0 auto;
		color: rgba(255,255,255,0.55);
	}

	img {
		width: 40px;
	}
}
