footer {

	border-radius: 1rem;
	box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.1);
	margin-bottom: 1rem;

	height: 10vh;
	
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

}
