$main-color: #222222;
$secondary-color: #88b5dd;
$scale: 2;
$breakpoints: (
	'small': (min-width: 767px),
	'medium': (min-width: 992px),
	'large': (min-width: 1200px)
)
!default;


@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}
$min_width: 420px;
$max_width: 2448px;//1080px;//3840px;
$min_font: 16px;
$max_font: 24px;

.acrylic {
	padding: 4em 2em;
	position: relative;
	background: rgba(255,255,255,0.55);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px) saturate(105%);
	//backdrop-filter: blur(30px) saturate(125%);
	margin: 7px;
}
