$main-color: #222222;
$secondary-color: #88b5dd;
$scale: 2;
$breakpoints: (
	'small': (min-width: 767px),
	'medium': (min-width: 992px),
	'large': (min-width: 1200px)
)
!default;

body,
body *,
html,
html * {
	//-webkit-transition: alll 200ms linear;
	//transition: all 200ms linear;
	-webkit-transition: background-image 200ms ease-in-out;
	transition: background-image 200ms ease-in-out;
}

* {
	transition: all 0.3s ease;
}

.hidden {
	display: none;
}
/// Mixin to manage responsive breakpoints
/// @author Hugo Giraudel
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@mixin respond-to($breakpoint) {
	// If the key exists in the map
	@if map-has-key($breakpoints, $breakpoint) {
		// Prints a media query based on the value
		@media #{inspect(map-get($breakpoints, $breakpoint))} {
			@content;
		}
	}
	// If the key doesn't exist in the map
@else
	{
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. " + "Available breakpoints are: #{map-keys($breakpoints)}.";
	}
}
@import './css/header.scss'; ////////////////
//////////////
/////////////
/////////////
//////////////
///////////////

#login > header > span > a {
	color: rgba(225,225,225,255);
}

#login > header > span > a > svg {
	color: rgba(225,225,225,255);
}

#login > header > span > a > svg.feather.feather-twitter {
	&:hover {
		color: #38A1F3;
		//&:after { content:"eh"}
	}
}

#login > header > span > a > svg.feather.feather-linkedin {
	&:hover {
		color: #0077B5;
		//&:after { content:"eh"}
	}
}

#login > header > span > a > svg.feather.feather-github {
	&:hover {
		color: #4078c0;

		&:after {
			//content: " (" attr(href) ")";
		}
	}
}

.blinking-cursor {
	::before {
		//		content:'eh'
	}
}

section * {
	position: relative;
	z-index: 4;
}

#login > header > ul > li > div {
	display: none;
}

#login > header > ul > li:hover > div {
	display: table;
}

header ul {}
@media (min-width: 767px) {
	pre {
		display: inline-block;
	}
}
@media (max-width: 767px) {
	pre {
		display: none !important;
	}

	header ul {}

	li {
		display: block;
		clear: right;
		width: 100%;
	}

	div,
	h5,
	li,
	ul {
		display: block !important;
		border-radius: 1rem;
		box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.1);
	}

	.dropdown-content {
		position: static !important;
	}
}

input {
	background: rgba(25,25,45,0.525) !important;
	color: rgba(205,205,255,1) !important;
}

body {
	border-radius: 1rem;
	margin: 1rem;
	height: 20vh;
	box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.1);
	/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
	/* Position and center the image to scale nicely on all screens */
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

main {
	a {
		color: $secondary-color;

		&:hover {
			cursor: pointer;
			text-decoration: none;
		}
	}
}

#login {
	position: relative;
	top: calc(20vh - 50px);

	& * {
		@extend %fade-top-down;
		//font-family: 'Niramit', sans-serif;
	}

	section {
		margin: 0 auto;
		max-width: 320px;
		width: calc(-1vw*175vw);

		> a:nth-of-type(1) {
			display: block;
			width: 77%;
			margin: 0 auto;
			text-align: center;
			font-weight: bolder;
			text-decoration: none;
			cursor: pointer;
			color: $main-color;

			:hover {
				cursor: pointer;
				text-decoration: none;
			}

			img {
				display: inline-block;
				position: relative;
				top: 6px;
			}
		}

		img {
			margin: 0 auto;
			text-align: center;
			display: block;
			clear: both;
			margin-bottom: 2rem;
			height: auto;
			max-width: 32px;
		}

		input {
			line-height: 16px;
			font-size: 16px;
			padding: 0.5rem;
			margin: 1rem auto 0;
			width: 70%;
			display: block;
			clear: left;
			//text-align:center;
			&:active,
			&:focus {
				&::-webkit-input-placeholder {
					/* WebKit browsers */
					color: #fff;
					opacity: 0;
				}

				&:-moz-placeholder {
					/* Mozilla Firefox 4 to 18 */
					color: #fff;
					opacity: 0;
				}

				&::-moz-placeholder {
					/* Mozilla Firefox 19+ */
					color: #fff;
					opacity: 0;
				}

				&:-ms-input-placeholder {
					/* Internet Explorer 10+ */
					color: #fff;
					opacity: 0;
				}
			}
		}

		input:nth-of-type(3) {
			background: $main-color;
			color: rgba(255,255,255,0.75);
		}
	}
}

.acrylic {
	padding: 4em 2em;
	position: relative;
	background: rgba(255,255,255,0.55);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px) saturate(105%);
	//backdrop-filter: blur(30px) saturate(125%);
	margin: 7px;
}

%fade-top-down,
.fade-top-down {
	animation: fade-top-down ease-out 0.2s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	animation-fill-mode: forwards;
	/*when the spec is finished*/
	-webkit-animation: fade-top-down ease-out 0.2s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-fill-mode: forwards;
	/*Chrome 16+, Safari 4+*/
	-moz-animation: fade-top-down ease-out 0.2s;
	-moz-animation-iteration-count: 1;
	-moz-transform-origin: 50% 50%;
	-moz-animation-fill-mode: forwards;
	/*FF 5+*/
	-o-animation: fade-top-down ease-out 0.2s;
	-o-animation-iteration-count: 1;
	-o-transform-origin: 50% 50%;
	-o-animation-fill-mode: forwards;
	/*Not implemented yet*/
	-ms-animation: fade-top-down ease-out 0.2s;
	-ms-animation-iteration-count: 1;
	-ms-transform-origin: 50% 50%;
	-ms-animation-fill-mode: forwards;
	/*IE 10+*/
}
@keyframes fade-top-down {
	0% {
		opacity: 0.23;
		transform: translate(0px,-25px);
	}

	100% {
		opacity: 1;
		transform: translate(0px,0px);
	}
}
@-moz-keyframes fade-top-down {
	0% {
		opacity: 0.23;
		-moz-transform: translate(0px,-25px);
	}

	100% {
		opacity: 1;
		-moz-transform: translate(0px,0px);
	}
}
@-webkit-keyframes fade-top-down {
	0% {
		opacity: 0.23;
		-webkit-transform: translate(0px,-25px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translate(0px,0px);
	}
}
@-o-keyframes fade-top-down {
	0% {
		opacity: 0.23;
		-o-transform: translate(0px,-25px);
	}

	100% {
		opacity: 1;
		-o-transform: translate(0px,0px);
	}
}
@-ms-keyframes fade-top-down {
	0% {
		opacity: 0.23;
		-ms-transform: translate(0px,-25px);
	}

	100% {
		opacity: 1;
		-ms-transform: translate(0px,0px);
	}
}
$color_cursor: rgba(255,255,255,0.25); //Blink cursor

@keyframes "blink" {
	from,
	to {
		color: transparent;
	}

	50% {
		color: $color_cursor;
	}
}
@-moz-keyframes blink {
	from,
	to {
		color: transparent;
	}

	50% {
		color: $color_cursor;
	}
}

@-webkit-keyframes "blink" {
	from,
	to {
		color: transparent;
	}

	50% {
		color: $color_cursor;
	}
}

@-ms-keyframes "blink" {
	from,
	to {
		color: transparent;
	}

	50% {
		color: $color_cursor;
	}
}

@-o-keyframes "blink" {
	from,
	to {
		color: transparent;
	}

	50% {
		color: $color_cursor;
	}
}

#blinking-cursor {
	font-weight: 100;
	//font-size: 30px;
	color: #2E3D48;
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}

#console-scroll {
	* {
		animation: none;
		transition: none;
	}
}
//ANIATMIONS
.slide-out-blurred-top {
	-webkit-animation: slide-out-blurred-top 0.25s cubic-bezier(0.755, 0.050, 0.855, 0.060) both !important;
	animation: slide-out-blurred-top 0.25s cubic-bezier(0.755, 0.050, 0.855, 0.060) both !important;
}

.slide-out-blurred-minimize {
	-webkit-animation: slide-out-blurred-minimize 0.15s cubic-bezier(0.755, 0.050, 0.855, 0.060) both !important;
	animation: slide-out-blurred-minimize 0.15s cubic-bezier(0.755, 0.050, 0.855, 0.060) both !important;
}

.slide-out-maximize {
	-webkit-animation: slide-out-maximize 0.15s cubic-bezier(0.755, 0.050, 0.855, 0.060) both !important;
	animation: slide-out-maximize 0.15s cubic-bezier(0.755, 0.050, 0.855, 0.060) both !important;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-4-27 0:14:43
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-out-blurred-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-blurred-top {
	0% {
		-webkit-transform: translateY(0) scaleY(1) scaleX(1);
		transform: translateY(0) scaleY(1) scaleX(1);
		-webkit-transform-origin: 50% 0;
		transform-origin: 50% 0;
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateY(100px) scaleY(0.2) scaleX(0.2);
		transform: translateY(100px) scaleY(0.2) scaleX(0.2);
		-webkit-transform-origin: 50% 0;
		transform-origin: 50% 0;
		-webkit-filter: blur(40px);
		filter: blur(40px);
		opacity: 0;
		height: 0;
	}
}
@keyframes slide-out-blurred-top {
	0% {
		-webkit-transform: translateY(0) scaleY(1) scaleX(1);
		transform: translateY(0) scaleY(1) scaleX(1);
		-webkit-transform-origin: 50% 0;
		transform-origin: 50% 0;
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateY(100px) scaleY(0.2) scaleX(0.2);
		transform: translateY(100px) scaleY(0.2) scaleX(0.2);
		-webkit-transform-origin: 50% 0;
		transform-origin: 50% 0;
		-webkit-filter: blur(40px);
		filter: blur(40px);
		opacity: 0;
		height: 0;
	}
}
@-webkit-keyframes slide-out-blurred-minimize {
	0% {
		-webkit-transform: translateY(0) scaleY(1) scaleX(1);
		transform: translateY(0) scaleY(1) scaleX(1);
		-webkit-transform-origin: 50% 0;
		transform-origin: 50% 0;
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateY(1000px) scaleY(0.2) scaleX(0.2);
		transform: translateY(1000px) scaleY(0.2) scaleX(0.2);
		-webkit-transform-origin: 50% 0;
		transform-origin: 50% 0;
		-webkit-filter: blur(40px);
		filter: blur(40px);
		opacity: 0;
		height: 0;
	}
}
@keyframes slide-out-blurred-minimize {
	0% {
		-webkit-transform: translateY(0) scaleY(1) scaleX(1);
		transform: translateY(0) scaleY(1) scaleX(1);
		-webkit-transform-origin: 50% 0;
		transform-origin: 50% 0;
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}

	100% {
		-webkit-transform: translateY(1000px) scaleY(0.2) scaleX(0.2);
		transform: translateY(1000px) scaleY(0.2) scaleX(0.2);
		-webkit-transform-origin: 50% 0;
		transform-origin: 50% 0;
		-webkit-filter: blur(40px);
		filter: blur(40px);
		opacity: 0;
		height: 0;
	}
}
@-webkit-keyframes slide-out-maximize {
	0% {
		-webkit-transform: translateY(0) scaleY(1) scaleX(1);
		transform: translateY(0) scaleY(1) scaleX(1);
		-webkit-transform-origin: 50% 0;
		transform-origin: 50% 0;
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}

	50% {
		-webkit-transform: translateY(0px) scaleY(1) scaleX(1);
		transform: translateY(0px) scaleY(1) scaleX(1);
		-webkit-transform-origin: 50% 0;
		transform-origin: 50% 0;
	}

	100% {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 200;
		background: black;
	}
}
@keyframes slide-out-maximize {
	0% {
		-webkit-transform: translateY(0) scaleY(1) scaleX(1);
		transform: translateY(0) scaleY(1) scaleX(1);
		-webkit-transform-origin: 50% 0;
		transform-origin: 50% 0;
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}

	50% {
		-webkit-transform: translateY(-50px) scaleY(1.5) scaleX(1);
		transform: translateY(-50px) scaleY(1.5) scaleX(1);
		//-webkit-transform-origin: 50% 0%;
		//transform-origin: 50% 0%;
	}

	100% {
		max-width: 100%;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 200;
		background: black;
	}
}
/** TRTAFFIC LIGHT



*?//
*
**/
$close-red: #ff6159;
$close-red-active: #bf4942;
$close-red-icon: #4d0000;
$close-red-icon-active: #190000;
$minimize-yellow: #ffbd2e;
$minimize-yellow-active: #bf8e22;
$minimize-yellow-icon: #995700;
$minimize-yellow-icon-active: #592800;
$maximize-green: #28c941;
$maximize-green-active: #1d9730;
$maximize-green-icon: #006500;
$maximize-green-icon-active: #003200;
$disabled-gray: #ddd;

.traffic-lights {
	// position: absolute;
	top: 1px;
	left: 8px;

	&:active,
	&:hover,
	.focus & {
		> .traffic-light-close {
			background-color: $close-red;

			&:active:hover {
				background-color: $close-red-active;
			}
		}

		> .traffic-light-minimize {
			background-color: $minimize-yellow;

			&:active:hover {
				background-color: $minimize-yellow-active;
			}
		}

		> .traffic-light-maximize {
			background-color: $maximize-green;

			&:active:hover {
				background-color: $maximize-green-active;
			}
		}
	}

	> .traffic-light {
		&:after,
		&:before {
			visibility: hidden;
		}
	}

	&:active,
	&:hover {
		> .traffic-light {
			cursor: pointer;

			&:after,
			&:before {
				visibility: visible;
			}
		}
	}
}

.traffic-light {
	border-radius: 100%;
	padding: 0;
	height: 2rem;
	width: 2rem;
	border: 1px solid rgba(0, 0, 0, 0.06);
	box-sizing: border-box;
	margin-right: 3.5px;
	background-color: $disabled-gray;
	position: relative;
	outline: none;

	&:after,
	&:before {
		content: '';
		position: absolute;
		border-radius: 1px;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}

	&-close {
		&:after,
		&:before {
			background-color: $close-red-icon;
			width: 8px;
			height: 1px;
		}

		&:before {
			transform: rotate(45deg); // translate(-0.5px, -0.5px);
		}

		&:after {
			transform: rotate(-45deg); // translate(0.5px, -0.5px);
		}

		&:active:hover:after,
		&:active:hover:before {
			background-color: $close-red-icon-active;
		}
	}

	&-minimize {
		&:before {
			background-color: $minimize-yellow-icon;
			width: 8px;
			height: 1px;
			//transform: translateY(-0.5px);
		}

		&:active:hover:before {
			background-color: $minimize-yellow-icon-active;
		}
	}

	&-maximize {
		&:before {
			background-color: $maximize-green-icon;
			width: 6px;
			height: 6px;
		}

		&:after {
			background-color: $maximize-green;
			width: 10px;
			height: 2px;
			transform: rotate(45deg);
		}

		&:active:hover:before {
			background-color: $maximize-green-icon-active;
		}

		&:active:hover:after {
			background-color: $maximize-green-active;
		}
	}
}
/// Mixin to customize scrollbars
/// Beware, this does not work in all browsers
/// @author Hugo Giraudel
/// @param {Length} $size - Horizontal scrollbar's height and vertical scrollbar's width
/// @param {Color} $foreground-color - Scrollbar's color
/// @param {Color} $background-color [mix($foreground-color, white, 50%)] - Scrollbar's color
/// @example scss - Scrollbar styling
///   @include scrollbars(.5em, slategray);
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
	// For Google Chrome
	::-webkit-scrollbar {
		width: $size;
		height: $size;
	}

	::-webkit-scrollbar-thumb {
		background: $foreground-color;
	}

	::-webkit-scrollbar-track {
		background: $background-color;
	}
	// For Internet Explorer
	body {
		scrollbar-face-color: $foreground-color;
		scrollbar-track-color: $background-color;
	}
}
@include scrollbars(0.5em, slategray);
