header {
	position: relative;
	z-index: 5;
}

header * {
	text-shadow: 1px 1px 60px rgba(0, 0, 0, 1);
	position: relative;
	z-index: 5;
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
}

header span {
	display: inline-block;
	float: right;
}

header svg {
	float: right;
	margin: 2.6rem 2rem 2rem;
	cursor: pointer;
}

header h2 {
	display: inline-block;
	margin-right: 1rem;
}

header h2 {
	color: rgba(225,225,225,255);
	display: inline-block;
	position: relative;
	top: 0.3rem;
}

header ul {
	display: inline-block;
	margin: 0 auto;
	font-size: 2.25rem;
	min-width: 220px;
	padding: 0;
}

header ul li a {
	color: rgba(225,225,225,255);
}

header ul li {
	display: inline-block;
	padding: 1rem;
	top: 3px;
	cursor: pointer;
}

header ul li:hover {
	//padding-bottom:200px;
}

header ul li div,
header ul li div h5 {
	display: block;
}

header ul li:hover {
	color: rgba(255,255,255,0.75);
}

.dropdown-content {
	margin: 0;
	padding: 0;
	display: none;
	position: absolute;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	//padding: 12px 16px;
	z-index: 1;
	border-radius: 1rem;
	box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.1);
}

.dropdown-content h5 a {
	color: black !important;
}

.dropdown-content h5 {
	min-width: 160px;
	padding: 1rem 3rem;
	margin: 0;
	font-size: 2rem;
	border-radius: 1rem;
	box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.1);
}

.dropdown-content h5:hover {
	border-radius: 1rem;
	box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.1);
	background: rgba(25,25,25,0.25);
	color: black;
	opacity: 0.15 !important;
}

header ul li:hover .dropdown-content {
	display: block;
}
